.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 400px;
  background-color: #000000;
  background-image: url(../../assets/profile-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  border-radius: 20px;
  position: relative;
  margin-left: 64px;
  margin-top: 29px;
}

.profilePic {
  position: absolute;
  top: 145px;
}

.profilePic > img {
  width: 110px;
  height: 110px;
  border: solid 5px #004b96;
  border-radius: 50%;
  object-fit: cover;
}

.profileText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.profileText > h2 {
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
}

.profileText > h3 {
  color: #999999;
  font-size: 24px;
  font-weight: 400;
}
